<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 매퍼interface의 풀경로명을 매퍼XML의 namespace속성의 값으로 쓰면 둘이 연결됨 -->

<mapper namespace="com.ohot.mapper.CommonTaskMgmtMapper">
	<select id="getCommonTaskMemt" resultType="com.ohot.vo.CommonTaskMemtVO">
	/* com.ohot.mapper.CommonTaskMgmtMapper.getCommonTaskMemt  */
		SELECT TASK_ID
     		 , TASK_SE_NM
     		 , MATCH_URL
     		 , USE_YN
  		  FROM COMMON_TASK_MGMT
		 WHERE MATCH_URL = #{requestURI}
	</select>

</mapper>

